language: node_js
node_js:
  - "14.6.0"
services:
  - redis-server
script:
  - npm test
after_success: 
  - npm run coverage
deploy:
  - provider: npm
    edge: true # opt in to dpl v2
    email: danielesalatti@gmail.com
    access: public
    on:
      tags: true
  - provider: npm
    edge: true # opt in to dpl v2
    email: danielesalatti@gmail.com
    access: public
    api_token: ${GITHUB_TOKEN}
    registry: https://npm.pkg.github.com/DanieleSalatti
    on:
      tags: true